body {
    background-image: url(../images/cows.jpeg);
}


h2, p {
    text-align: center;
    font-weight: 700px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100pt;
}