body {
    background-image: url(../images/cows.jpeg);
    height: 1000px;
}


h1, h2, p, a {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    background-color: #777777;
    margin: 30px;
}